In [3]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from tqdm import tqdm
import json

In [4]:
with open('deep_fried_chicken_data.json', 'w') as f:
    json.dump({}, f)

In [ ]:
#27,697 restaurants, as of March 5

In [32]:
data={}
for j in tqdm(range(0,9)):
    url = "https://www.openrice.com/en/hongkong/restaurants/dish/korean-fried-chicken?page="
    page = str(j+1)
    headers = requests.utils.default_headers()
    headers['User-Agent'] = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'
    response = requests.get(url+page, headers=headers)
    response = response.text
    soup = BeautifulSoup(response, "html.parser")
    
    content = soup.find(class_='sr1-listing-content-cells pois-restaurant-list js-poi-list-content-cell-container')
    
    data[j] = content.prettify()
    
    if j % 8 == 0:
        with open('deep_fried_chicken_data.json') as f:
            file = json.load(f)

        file.update(data)

        with open('deep_fried_chicken_data.json', 'w') as f:
            json.dump(file, f)
            
#         data = {}

  0%|          | 0/9 [00:00<?, ?it/s]

In [3]:
# with open('data.json') as f:
#     data = json.load(f)

In [33]:
from tqdm import tqdm
from tqdm.notebook import trange, tqdm

In [26]:
# !pip install tqdm --upgrade

Collecting tqdm
  Downloading tqdm-4.61.0-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 290 kB/s
Installing collected packages: tqdm
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.31.1
    Uninstalling tqdm-4.31.1:
      Successfully uninstalled tqdm-4.31.1
Successfully installed tqdm-4.61.0
WARNING: You are using pip version 20.0.2; however, version 21.1.2 is available.
You should consider upgrading via the '/Users/Kevin/anaconda3/bin/python -m pip install --upgrade pip' command.

In [34]:
df = pd.DataFrame(columns =['name','review','bookmark','smile','sad','address','district','cuisine','dish'])

In [38]:
for k in range(len(data)):
    soup = BeautifulSoup(data[k], "html.parser")
    for i in range(len(soup.find_all(class_='title-name'))):
        rest = {}
        rest['name'] = soup.find_all(class_='title-name')[i].text.strip()
        try:
            review = soup.find_all(class_="counters-container")[i].text.strip()
            rest['review'] = int(*re.findall('\d+', review))
        except:
            rest['review'] = 'N/A'
        rest['bookmark'] = soup.find_all(class_="text bookmarkedUserCount js-bookmark-count")[i]['data-count']
        try:
            rest['smile'] = soup.find_all(class_="emoticon-container smile-face pois-restaurant-list-cell-content-right-info-rating-happy")[i].text.strip()
        except:
            rest['smile'] = 'N/A'
        try:
            rest['sad'] = soup.find_all(class_="emoticon-container sad-face pois-restaurant-list-cell-content-right-info-rating-sad")[i].text.strip()
        except:
            rest['sad'] = 'N/A' 
        
        rest['address'] = soup.find_all(class_='icon-info-wrapper')[i].find('span').find(text=True).strip()
        rest['district'] = soup.find_all(class_='icon-info-wrapper')[i].find('a').text
        rest['cuisine'] = soup.find_all(class_="icon-info icon-info-food-name")[i].find_all('a')[0].text
        rest['dish'] = soup.find_all(class_="icon-info icon-info-food-name")[i].find_all('a')[1].text
        df = df.append(rest, ignore_index=True)

In [39]:
df.to_csv('deep_dried_chicken_restaurant.csv')

In [47]:
df = pd.read_csv('deep_dried_chicken_restaurant.csv', index_col=0)

In [115]:
with open('deep_dried_chicken_restaurant_latlong.json', 'w') as f:
    json.dump({}, f)

In [42]:
re_dict={}

In [114]:
def ogcioparser_dict(address):
    data = {"q":address, "n":2} #n means only send 1 
    headers ={"Accept": "application/json"}
    api_url = "https://www.als.ogcio.gov.hk/lookup"
    res = requests.post(api_url, data=data, headers=headers, timeout=(5, 14))
    add = json.loads(res.text)
    add_dict = {}
    add_dict['Latitude'] = add['SuggestedAddress'][0]['Address']['PremisesAddress']['GeospatialInformation']['Latitude']    
    add_dict['Longitude'] = add['SuggestedAddress'][0]['Address']['PremisesAddress']['GeospatialInformation']['Longitude']
    add_dict['Easting'] = add['SuggestedAddress'][0]['Address']['PremisesAddress']['GeospatialInformation']['Easting']
    add_dict['Northing'] = add['SuggestedAddress'][0]['Address']['PremisesAddress']['GeospatialInformation']['Northing']
    return add_dict

In [101]:
addresses = df['address']

In [102]:
sleep_counter = 0

In [117]:
all_dict = {}
working_dict = {}
for i, a in enumerate(tqdm(addresses)):
    parse = ogcioparser_dict(a)
    all_dict[i] = parse
    working_dict[i] = parse
#     sleep_counter +=1
    if i == len(addresses)-1:
#         sleep(randint(5,10))

        with open('deep_dried_chicken_restaurant_latlong.json') as f:
            file = json.load(f)

        file.update(working_dict)

        with open('deep_dried_chicken_restaurant_latlong.json', 'w') as f:
            json.dump(file, f)
            
        working_dict = {}

100%|██████████| 418/418 [12:36<00:00,  1.75s/it]

In [118]:
df_parse = pd.DataFrame.from_dict(all_dict, orient='index')

In [119]:
df_parse.to_csv('parse_fried.csv')

In [120]:
df_parse

     Latitude  Longitude Easting Northing
0    22.31578  114.17057  835619   819643
1     22.2783  114.18316  836916   815493
2    22.29958  114.17455  836028   817849
3     22.2777   114.1822  836817   815426
4    22.28077  114.18278  836877   815766
5    22.29795  114.17465  836039   817669
6    22.27911  114.18164  836759   815583
7    22.31781  114.16991  835551   819868
8    22.28276  114.15394  833905   815987
9    22.27969  114.18385  836987   815647
10   22.32179  114.16107  834640   820309
11   22.27555  114.17029  835590   815189
12   22.28076  114.15602  834119   815766
13    22.3027  114.17463  836036   818195
14   22.31883  114.16849  835404   819980
15   22.37315  114.11631  830031   825997
16      22.37  114.11431  829824   825648
17      22.37  114.11431  829824   825648
18   22.32319   114.2582  844647   820466
19   22.44732  114.02769  820912   834217
20    22.3407  114.20197  838853   822403
21   22.30141  114.17495  836070   818052
22   22.30196  114.17564  836141   818113
23    22.3054  114.25955  844787   818496
24   22.37582  114.17709  836290   826292
25   22.30733  114.16651  835201   818707
26     22.296  114.16867  835423   817452
27   22.30226  114.26307  845150   818148
28   22.37497  114.10884  829261   826199
29   22.27868  114.18594  837202   815535
..        ...        ...     ...      ...
388  22.31877  114.26482  845329   819977
389   22.3191  114.17147  835711   820011
390   22.3692  114.11687  830088   825560
391   22.3282  114.18885  837502   821019
392  22.45293  114.17042  835604   834831
393  22.28061    114.155  834014   815749
394  22.33503  114.16695  835246   821774
395  22.36773  114.12114  830527   825397
396   22.3004  114.17849  836435   817941
397  22.28486   114.1441  832890   816220
398  22.28671   114.2134  840032   816425
399  22.37323  114.11597  829996   826006
400  22.30954  114.22408  841132   818953
401  22.30219  114.17568  836145   818138
402  22.36919  114.11559  829956   825559
403  22.31578  114.17057  835619   819643
404   22.2783  114.18316  836916   815493
405  22.29958  114.17455  836028   817849
406   22.2777   114.1822  836817   815426
407  22.28077  114.18278  836877   815766
408  22.29795  114.17465  836039   817669
409  22.27911  114.18164  836759   815583
410  22.31781  114.16991  835551   819868
411  22.28276  114.15394  833905   815987
412  22.27969  114.18385  836987   815647
413  22.32179  114.16107  834640   820309
414  22.27555  114.17029  835590   815189
415  22.28076  114.15602  834119   815766
416   22.3027  114.17463  836036   818195
417  22.31883  114.16849  835404   819980

[418 rows x 4 columns]

In [121]:
result = pd.concat([df, df_parse], axis=1)

In [128]:
result.head()

,name,review,bookmark,smile,sad,address,district,cuisine,dish,Latitude,Longitude,Easting,Northing
0,Yadllie Plate,1235.0,80549,944.0,52.0,"11/F, CTMA Centre, 1 Sai Yeung Choi Street,",\n Mong Kok\n,\n Korean Fried Chicken\n,\n Korean\n,22.31578,114.17057,835619,819643
1,Dodam Chicken (利舞臺廣場),1080.0,41429,912.0,22.0,"18/F., Shop A, Lee Theatre Plaza, 99 Percival ...",\n Causeway Bay\n,\n Korean Fried Chicken\n,\n Korean\n,22.2783,114.18316,836916,815493
2,Outdark (厚福街),658.0,36973,544.0,14.0,"17/F, H8, 8 Hau Fook Street,",\n Tsim Sha Tsui\n,\n Korean Fried Chicken\n,\n Korean\n,22.29958,114.17455,836028,817849
3,Sodam Chicken,1330.0,57055,1018.0,66.0,"7/F, 3 Yiu Wa Street, Bartlock Centre,",\n Causeway Bay\n,\n Korean Fried Chicken\n,\n Korean\n,22.2777,114.1822,836817,815426
4,Bingo & Cook,1148.0,34010,991.0,22.0,"2/F, L'Hart, 487-489 Lockhart Road,",\n Causeway Bay\n,\n Korean Fried Chicken\n,\n Korean\n,22.28077,114.18278,836877,815766

In [129]:
result['district'] = result['district'].apply(lambda x: x.strip())
result['cuisine'] = result['cuisine'].apply(lambda x: x.strip())
result['dish'] = result['dish'].apply(lambda x: x.strip())

In [ ]:
result.to_csv()