In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('restaurant_clean.csv', index_col = 0)

In [3]:
df.head()

,name,review,bookmark,smile,sad,address,district,cuisine,dish
0,Deluxe Daikiya Japanese Restaurant 極尚大喜屋日本料理,597,60355,445,23,"Shop 102, 1/F, Albion Plaza, 2-6 Granville Road,",Tsim Sha Tsui,Japanese,Sushi/Sashimi
1,The Place,520,58751,260,76,"Level L, Cordis, Hong Kong at Langham Place, 5...",Mong Kok,International,Seafood
2,LAB EAT Restaurant & Bar,620,57442,475,31,"Shop 1-2, G/F, Kiu Fung Mansion, 83-89 Kimberl...",Tsim Sha Tsui,Western,Seafood
3,Market Hotpot 鮮入圍煮,320,49070,224,24,"2/F, Dundas Square, 43H Dundas Street,",Mong Kok,Guangdong,Hot Pot
4,Sky726,594,46832,442,41,"25/F, 724-726 Nathan Road,",Mong Kok,French,Dessert

In [4]:
len(df)

27615

In [5]:
with open('all_restaurant.json') as f:
    coordinate = json.load(f)

In [6]:
coor_df = pd.DataFrame.from_dict(coordinate, orient='index')

In [7]:
coor_df.index = coor_df.index.map(int)

In [8]:
coor_df.sort_index(inplace=True)

In [9]:
coor_df.head()

  Northing Easting Longitude Latitude
0   817834  835831  114.1726  22.2994
1   819900  835365  114.1681  22.3181
2   818187  836120  114.1754  22.3026
3   819632  835676  114.1711  22.3156
4   820233  835429  114.1687  22.3211

In [10]:
final_df = pd.read_csv('parse.csv', index_col=0)

In [11]:
final_df = pd.concat([coor_df,final_df])

In [12]:
final_df.sort_index(inplace=True)

In [13]:
final_df = pd.concat([df, final_df], axis = 1)

In [14]:
final_df = final_df[['name', 'review', 'bookmark', 'smile', 'sad', 'address', 'district',\
       'cuisine', 'dish', 'Latitude','Longitude','Easting','Northing']]

In [15]:
final_df.head()

,name,review,bookmark,smile,sad,address,district,cuisine,dish,Latitude,Longitude,Easting,Northing
0,Deluxe Daikiya Japanese Restaurant 極尚大喜屋日本料理,597,60355,445,23,"Shop 102, 1/F, Albion Plaza, 2-6 Granville Road,",Tsim Sha Tsui,Japanese,Sushi/Sashimi,22.2994,114.1726,835831,817834
1,The Place,520,58751,260,76,"Level L, Cordis, Hong Kong at Langham Place, 5...",Mong Kok,International,Seafood,22.3181,114.1681,835365,819900
2,LAB EAT Restaurant & Bar,620,57442,475,31,"Shop 1-2, G/F, Kiu Fung Mansion, 83-89 Kimberl...",Tsim Sha Tsui,Western,Seafood,22.3026,114.1754,836120,818187
3,Market Hotpot 鮮入圍煮,320,49070,224,24,"2/F, Dundas Square, 43H Dundas Street,",Mong Kok,Guangdong,Hot Pot,22.3156,114.1711,835676,819632
4,Sky726,594,46832,442,41,"25/F, 724-726 Nathan Road,",Mong Kok,French,Dessert,22.3211,114.1687,835429,820233

In [16]:
# final_df.to_csv('restaurant_with_coordinate.csv')

In [17]:
final_df['address'] = final_df['address'].map(lambda x : x.upper())

In [18]:
final_df.head()

,name,review,bookmark,smile,sad,address,district,cuisine,dish,Latitude,Longitude,Easting,Northing
0,Deluxe Daikiya Japanese Restaurant 極尚大喜屋日本料理,597,60355,445,23,"SHOP 102, 1/F, ALBION PLAZA, 2-6 GRANVILLE ROAD,",Tsim Sha Tsui,Japanese,Sushi/Sashimi,22.2994,114.1726,835831,817834
1,The Place,520,58751,260,76,"LEVEL L, CORDIS, HONG KONG AT LANGHAM PLACE, 5...",Mong Kok,International,Seafood,22.3181,114.1681,835365,819900
2,LAB EAT Restaurant & Bar,620,57442,475,31,"SHOP 1-2, G/F, KIU FUNG MANSION, 83-89 KIMBERL...",Tsim Sha Tsui,Western,Seafood,22.3026,114.1754,836120,818187
3,Market Hotpot 鮮入圍煮,320,49070,224,24,"2/F, DUNDAS SQUARE, 43H DUNDAS STREET,",Mong Kok,Guangdong,Hot Pot,22.3156,114.1711,835676,819632
4,Sky726,594,46832,442,41,"25/F, 724-726 NATHAN ROAD,",Mong Kok,French,Dessert,22.3211,114.1687,835429,820233

In [19]:
licence_df = pd.read_csv('licence', index_col=0)

In [20]:
licence_df.head()

,company_name,district,address,license_no,record_count,1,2,3,4,5,6,7
0,( NO RECORD FOUND),Kwai Tsing,"SHOP 7, 1/F, EDGE, 30-34 KWAI WING ROAD, KWAI ...",38 91 803736,11597,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,( NO RECORD FOUND),North,"G/F, 12 SAN FUNG AVENUE, SHEUNG SHUI, NEW TERR...",38 96 802367,11597,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,( NO RECORD FOUND),Sha Tin,"SHOP 251, LEVEL 2, NEW TOWN PLAZA PHASE 1, SHA...",38 97 806658,11597,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,( NO RECORD FOUND),Tai Po,"SHOP NO. 204, 2/F, TAI WO PLAZA, 12 TAI WO ROA...",38 95 802953,11597,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,( NO RECORD FOUND),Tuen Mun,"SHOP L103A, LEVEL 1, LEUNG KING PLAZA, LEUNG K...",38 93 805000,11597,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
mergedStuff = pd.merge(final_df, licence_df, on=['address'], how='inner')
mergedStuff.head()

Empty DataFrame
Columns: [name, review, bookmark, smile, sad, address, district_x, cuisine, dish, Latitude, Longitude, Easting, Northing, company_name, district_y, license_no, record_count, 1, 2, 3, 4, 5, 6, 7]
Index: []

[0 rows x 24 columns]

In [99]:
licence_df['company_name'].unique()

array(['( NO RECORD FOUND)', '(no record found)', '(No record found)',
       ..., '龍鳳冰室', '龍鳳店', '龍鳳廚坊'], dtype=object)

In [37]:
final_df[final_df['name'].str.contains('coffee')]

Empty DataFrame
Columns: [name, review, bookmark, smile, sad, address, district, cuisine, dish, Latitude, Longitude, Easting, Northing]
Index: []

In [42]:
final_df[final_df['cuisine'] == 'American']['name'].unique()

array(['Burgeroom', 'The Cheesecake Factory 芝樂坊餐廳'], dtype=object)

In [48]:
len(final_df.drop_duplicates())

74